.nishi{
    background-color: navy;
}
.dyshi{
    color: blanchedalmond;
}
.treshi{
    background-color: blueviolet;
    color: bisque;
    text-align: center;
}
#katra{
    background-color: burlywood;
    color: crimson;
    text-decoration: underline;
    text-align: right;
}